.text-edition {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-edition-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #EEEEEE80;
}

.text-edition-content {
    position: relative;
    width: 60%;
    height: fit-content;
    max-height: 70%;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 4px;
    box-shadow: 0 0 4px #33333350;
    background-color: #FFF;
}

.text-edition-content-title {
    font-size: 20px;
    margin-bottom: 25px;
}

.text-edition-content-operations {
    position: absolute;
    top: 10px;
    right: 10px;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: end;
}

.text-edition-content-operations img {
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.text-edition-content-box {
    width: 100%;
    border: 1px solid #CCC;
    overflow: auto;
}