.class {
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #FAFBFC;
}

.class-container {
    position: relative;
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    margin-top: 60px;
}

.class-container-workspace {
    width: calc(100% - 250px);
    height: fit-content;
    margin-left: 250px;
}

.class-container-workspace-test-card {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.class-container-workspace-test-card > * {
    margin-right: 25px;
    margin-bottom: 25px;
}

.class-container-workspace-textfield {
    width: 100%;
    height: fit-content;
}