.homepage {
    width: 100%;
    height: 100%;
    background-color: #FAFBFC;
}

.homepage-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    background-color: #FAFBFC;
}