.student-table {
    width: 100%;
    height: fit-content;
    border-radius: 4px;
    border: 1px solid #CCC;
    background-color: #FFF;
    color: #333;
    border-collapse: collapse;
}

.student-table thead {
    border-bottom: 1px solid #CCC;
    height: fit-content;
    width: fit-content;
}

.student-table tr {
    height: fit-content;
    display: flex;
}

.student-table tr>*:not(:last-child) {
    border-right: 1px solid #CCC;
}

.student-table tr:not(:last-child) {
    border-bottom: 1px solid #CCC;
}

.student-table th {
    min-height: 30px;
}

.student-table th input {
    width: 100%;
    border: none;
    outline: none;
}

.student-table th,
.student-table td {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.student-table div {
    width: fit-content;
    display: flex;
}

.student-table td {
    height: 30px;
    width: 100%;
    display: flex;

}

.student-table td:hover .student-table-delete {
    display: block;
}

.student-table td span {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.student-table-checkbox {
    margin-right: 10px;
    cursor: pointer;
}

.student-table-delete {
    display: none;
    cursor: pointer;
}